<%- include('partials/header'); -%>

<section class="upload">
    <div class="information">
        <h3>Note: </h3>
        <p>on vercel the upload of the image may not work, change the image in "profile -> edit"</p>
    </div>
    
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div>
            <label>Upload profile picture</label>
            <input type="file" class="file" name="profile-file" required/>
        </div>
        <div>
            <input type="submit" class="submit" value="Upload" />
        </div>
    </form>
</section>

<%- include('partials/footer'); -%>

