<%- include('partials/header'); -%>

<section>
  <h2>List de jobs :</h2>
<% if (user) { %>
  <div class="bloc_filters">
    <h2 class="titre">Filter by:</h2>
    <div class="filters">
      <div class="filter">
        <div><label for="status">Status</label></div>
        <select name="status" id="status" required>
          <option value="interested">Interested</option>
          <option value="sent">CV sent</option>
          <option value="negative">Negative</option>
          <option value="interview">Interview</option>
        </select>
      </div>
      <div class="filter">
        <div><label for="origin">Origin</label></div>
        <select name="origin" id="origin" required>
          <option value="spontaneous">spontaneous application</option>
          <option value="offer">Job offer</option>
        </select>
      </div>
    </div>
  </div>
  <div class="bloc_jobs">
    <div class="jobs"></div>
  </div>

<% } else { %> 
  <div class="bloc_jobs">
    <h2>Aucun job dans la list</h2>
  </div>

<% } %>
</section>

<%- include('partials/footer'); -%>


<script>
  async function fetchData() {
  try {
    const response = await fetch('/list-jobs');
    const data = await response.json();
    console.log(data);
    const jobsList = document.querySelector('.jobs');

        data.forEach(job => {
          const listItem = document.createElement('li');
          listItem.classList.add('recipe');

          const title = document.createElement('h4');
          title.textContent = job.jobTitle;

          const company = document.createElement('p');
          company.textContent = job.company;

          listItem.appendChild(title);
          listItem.appendChild(company);

          jobsList.appendChild(listItem);
        });

  } catch (error) {
    console.error('Error fetching data:', error);
  }
}
fetchData();
</script>