<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Job Tracker App</h2>
    <h3>By Mateo, Antonino & Hugo</h3>
    <a href="/viewJobs" class="btn">View Your Jobs</a>
  </div>
</header>


<%- include('partials/footer'); -%>