<%- include('partials/header'); -%>

<section>
  <h2>List de jobs :</h2>
<% if (user) { %>
  <div class="bloc_filters">
    <h2 class="titre">Filter by:</h2>
    <div class="filters">
      <div class="filter">
        <div><label for="status">Status</label></div>
        <select name="status" id="status" required>
          <option value="interested">Interested</option>
          <option value="sent">CV sent</option>
          <option value="negative">Negative</option>
          <option value="interview">Interview</option>
        </select>
      </div>
      <div class="filter">
        <div><label for="origin">Origin</label></div>
        <select name="origin" id="origin" required>
          <option value="spontaneous">spontaneous application</option>
          <option value="offer">Job offer</option>
        </select>
      </div>
    </div>
  </div>
  <div class="bloc_jobs">
    <ul class="jobs"></ul>
  </div>

<% } %>
</section>

<%- include('partials/footer'); -%>


<script>
const jobsList = document.querySelector('.jobs');
  async function fetchData() {
  try {
    const response = await fetch('/list-jobs');
    const data = await response.json();
    console.log(data);
    data.length === 0 ? jobsList.innerHTML = '<li><h2>Aucun job dans la list</h2></li>' : jobsList.innerHTML = '';
    
        data.forEach(job => {
          
          const listItem = document.createElement('li');
          listItem.classList.add('recipe');

          const date = document.createElement('p');
            const dateObj = new Date(job.date);
            const day = dateObj.getDate();
            const month = dateObj.getMonth() + 1;
            const year = dateObj.getFullYear();
            date.textContent = `${day}/${month}/${year}`;

          const title = document.createElement('h4');
          title.textContent = job.jobTitle;

          const company = document.createElement('p');
          company.textContent = job.company;

          const del = document.createElement('button');
          del.classList.add('delete');
          del.textContent = "Delete";
          del.setAttribute('data-id', job._id);

          const see = document.createElement('button');
          see.classList.add('see');
          see.textContent = "Details";
          see.setAttribute('data-id', job._id);




          listItem.append(date, title, company, del, see);
          jobsList.appendChild(listItem);
        });

  } catch (error) {
    console.error('Error fetching data:', error);
  }
}
fetchData();

    // delete profile
    document.addEventListener('click', async (e) => {

        if (e.target.matches('.delete')) {
          try {
            const res = await fetch('/job', {
                method: 'DELETE',
                body: JSON.stringify({_id: e.target.dataset.id}),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            location.assign('/');
          }
          catch (err) {
              console.log(err);
          }
        }
    });
</script>