<%- include('partials/header'); -%>

<form>
    <h2>Register</h2>
    
    <label for="firstname">Firstname</label>
    <input type="text" name="firstname" required>

    <label for="lastname">Llastname</label>
    <input type="text" name="lastname" required>

    <label for="github">GgitHub</label>
    <input type="text" name="github" required>

    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>

    
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <div class="password error"></div>

    <label for="confirmepassword">Confirme password</label>
    <input type="confirmepassword" name="confirmepassword" required>
    <div class="confirmepassword error"></div>

    <button>Register</button>
</form>

<script>
    const form = document.querySelector('form')
    const emailError = form.querySelector('.email.error')
    const passwordError = form.querySelector('.password.error')

    form.addEventListener('submit', async (e)=>{
        e.preventDefault()

        // reset errors
        emailError.textContent = ""
        passwordError.textContent = ""

        // get the values
        const email = form.email.value
        const password = form.password.value
        try {
            const res = await fetch('/signup', {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify({email, password})
            });

            const data = await res.json()
            console.log(data);
            
            // si errors
            if(data.errors){
                emailError.textContent = data.errors.email
                passwordError.textContent = data.errors.password
            }

            // si user bien enregistre 
            if (data.user) {
                location.assign('/')
            }
        } catch (err) {
            console.log(err);
        }
    })
</script>

<%- include('partials/footer'); -%>