body{
    background: $color_60;
    color: white;
}

#page{
    // @include borderTest(blue);
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    @include Larges{
        display: flex;
    };
}

main{
    color: black;
    // padding: 10px;
    @include Larges_max{
        padding: 8px;
    };
    
    .container{
        // @include borderTest(red);
        background-color: $color_50;
        height: 100%;
        width: 100%;
        padding: 20px;
        border-radius: 50px 50px 0 0 ;
        overflow-y: scroll;
        @include container;
        @include Larges{
            border-radius: 50px 0 0 50px;
        };
    }
}

section{
    // @include borderTest(red);
    grid-column: 1/-1;

}