$duration: 600ms;

#modal{
    grid-column: 1/-1;
    backdrop-filter: blur(10px);
    // border: solid 2px red;
    // background-color: $color_50;
    // backdrop-filter: blur(15px);
    position: fixed;
        top: 0;
        // left: 0;
        // z-index: -1;
    overflow: auto;
    // border-radius: 20px;
    // height: 100%;
    // width: 100%;

    .body_modal{
        // border: solid 2px red;
        position: relative;
        grid-column: 1/-1;
        border-radius: 10px;

        .bloc{
            position: relative;
            min-height: 100vh;
            // padding: 20px 20px 20px;
            // margin: 30px;
            // background-color: $color_50;
            // @include Dfx_JCc_AIfs;

            form{
                background-color: $color_40;
                // border: solid 1px $color_60;
                padding: 20px;
                margin: 50px 0 0 200px;
                // border-radius: 20px;
                max-width: 500px;
                @include Dfx_JCc_AIc;
                flex-direction: column;
        
                .error{
                    color: $color_10;
                    margin-bottom: 10px;
                }
        
                label{
                    width: 100%;
                    margin-top: 10px;
                }
                input{
                    padding: 5px;
                    text-align: center;
                    border-radius: 10px;
                    width: 100%;
                    border: none;
                }
                button{
                    background-color: $color_30;
                    color: $color_50;
                    padding: 10px;
                    margin-top: 10px;
                    width: 100%;
                    border-radius: 10px;
                    cursor: pointer;
                    border: none;
        
                    &:hover{
                        background-color: $color_10;
                        color: $color_30;
                    }
                }
        
                p{
                    font-size: 12px;
                    a{
                        color: $color_30;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.modal_active{
    animation-name: modal-on;
    animation-duration: $duration;
    animation-timing-function: ease-in-out;
    transition: $duration;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.modal_desactive{
    animation-name: modal-off;
    animation-duration: $duration;
    animation-timing-function: ease-in-out;
    transition: $duration;
    height: 0;
    width: 0;
}

@keyframes modal-on {
    0%{
        border-radius: 0 50% 50% 50%;
        // opacity: 0;
    }
    100%{
        // opacity: 1;
        border-radius: 0 0 0 0;
    }
}

@keyframes modal-off {
    0%{
        // opacity: 1;
        border-radius: 0 0 0 0;
    }
    100%{
        // opacity: 0;
        border-radius: 0 50% 50% 50%;
    }
}

// BTN OFF MODAL
.btn_modal_off{
    position: absolute;
        top: 10px;
        left: 10px;
    z-index: 15;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px;
    @include Dfx_JCc_AIc;

    i{
        color: $txt_color_dark;
        margin: auto;
        font-size: 2rem;
        transition: 400ms;
    }

    &:hover i{
        color: red;
    }
}


